*{
    margin: 0;
    padding: 0;
    border: 0;
}
div{
    width: 800px;
    height: 600px;
    border: 1px solid #000;
    background-image: url(../img/spiderman.jpg);
    background-size: 25%;
    background-repeat: repeat-y;
}