*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
body{
    background-color: blanchedalmond;
    display: block;
    display: flex;
    justify-content: center;
    
}
#forma{
    width: 300px;
    height: 200px;
    background-color: cyan;
    margin: 15% auto;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    
}
form{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    display: block;
    font-size: 20px;
}
fieldset{
    margin-bottom: 5px;
    padding: 2px;
    border: none;
}
input{
    
    width: 100%;
    height: auto;
    padding: 2px;
}
.entrar{
    width: 100%;
    height: auto;
    margin-top: 20px;

}


