:root{
    font-size: 100%;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
article#el-pai{
    width: 100vw;
    height: 100vh;
    padding: 5px;
    background-color: blanchedalmond;
    font-size: 20px;
}
/* article#el-pai p#el-filho{
    width: 100%;
    height: auto;
    background-color: coral;
    font-size: 2em;
} */
article#el-pai p#el-filho{
    width: 100%;
    height: auto;
    background-color: coral;
    font-size: 0.5rem; /*32px*/
}